---
name: Run Renovate

on:
  workflow_call:
    inputs:
      dryRun:
        description: "Dry-Run"
        default: "false"
        required: false
        type: string
      renovateVersion:
        description: "Renovate Version tag, 'latest' is a '-slim' version otherwise use 'full' or pinned version"
        default: "latest"
        required: false
        type: string
      renovateLogLevel:
        description: "Log-Level"
        default: "debug"
        required: false
        type: string
      configurationFile:
        description: "Renovate configuration file"
        default: ".github/renovate-bot.json5"
        required: false
        type: string
    secrets:
      app_id:
        description: "App ID of the application used to generate a token"
        required: true
      app_private_key:
        description: "Private key of the application used to generate a token"
        required: true

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.app_id }}
          private_key: ${{ secrets.app_private_key }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Renovate
        uses: renovatebot/github-action@v46.0.1
        env:
          DRY_RUN: ${{ inputs.dryRun }}
          LOG_LEVEL: ${{ inputs.renovateLogLevel }}
        with:
          renovate-version: ${{ inputs.renovateVersion }}
          configurationFile: ${{ inputs.configurationFile }}
          token: "${{ steps.generate-token.outputs.token }}"

