---
name: Build Doc

on:
  workflow_call:
    secrets:
      app_id:
        description: "App ID of the application used to generate a token"
        required: true
      app_private_key:
        description: "Private key of the application used to generate a token"
        required: true

jobs:
  build_deploy:
    name: Build and Deploy Doc
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.app_id }}
          private_key: ${{ secrets.app_private_key }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: true
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.153.4' # renovate: datasource=github-tags depName=gohugoio/hugo
          extended: true

      - name: Build
        run: | 
          hugo --minify --source ./website --destination ./public --noChmod

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          args: --verbose --no-progress './website/public/**/*.html'
      - name: Create Issue From File
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Link Checker Report
          issue-number: 1
          content-filepath: ./lychee/out.md
          labels: report, automated issue
          token: ${{ steps.generate-token.outputs.token }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ steps.generate-token.outputs.token }}
          publish_dir: ./website/public
          publish_branch: gh-pages
          user_name: 'zagg-bot[bot]'
          user_email: '121982232+zagg-bot[bot]@users.noreply.github.com'

